.sidebar-right-list-detail-room{
    background-color: var(--bg-white);
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px 0;
    margin-bottom: 100px;
}
.list-student-setting-box{
    width: 200px;
}