
*{
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
body{
    background-color: var(--bg-color-secondary);
    transition: all linear 0.3s;
}
body::-webkit-scrollbar{
    display: none;
}
body,html{
    font-size: 62.5%;
}
.sidebar-content{
    display: flex;
}

.modal-background{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.562);
    z-index: 20;
    animation: fadein linear 0.2s;
    display: none;
}

.modal-background-overplay:checked ~ .modal-background{
    display: block;
}

.btn__primary--type{
    background-color: var(--bg-color-primary);
    color: white;
    font-size: 1.8rem;
    padding: 5px 10px;
    border-radius: 10px;
    display: block;
    i{
        font-size: 1.8rem;
        color: white;
    }
}