.profile-contain-heading{
    color: var(--font-color-primary);
    font-size:3rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.sidebar-right-content-main{
    margin-top: 80px;
}
.profile-contain-main-form{
    position: relative;
}
.profile--form__img{
    position: relative;
    border: 1px solid var(--font-color-primary);
    padding: 8px;
    border-radius: 5px;
    img{
        border-radius: 5px;
        height: 100%;
        aspect-ratio: 1/1; /* Tỉ lệ khung hình 1:1 */
        width: 100%;
    }
}
.profile--form__img-edit{
    position: relative;
    display: flex;
    align-items: center;
    padding:5px 20px;
    margin-top: 5px;
    background-color: var(--bg-color-primary);
    border-radius: 5px;
    &::before{
        content: 'Thay đổi ảnh';
        position: absolute;
        left: 40px;
        font-size: 1.7rem;
        color: white;
    }
    i{
        font-size: 1.8rem;
        color: white;
        padding-right: 5px;
    }
}
#imageInput{
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}
#imageInput.active{
    pointer-events: all;
}
.profile--form__submit-btn.save-active{
   pointer-events: all; 
   background-color: var(--bg-color-primary);
    color: white;
}
.profile--form__unsubmit-btn.edit-active{
    pointer-events: none;
    background-color: var(--btn-default-color);
    color: var(--font-color-primary);
}